[2022-05-05 16:04] MattiaRigi97 opened #1 "Failed to run my own server"
Hi, i'm trying to run my own server following the steps in the repo but I've the following error:

![jinaerror](https://user-images.githubusercontent.com/45123055/166965089-556dac32-a44d-4fd4-8fc4-678ca8ec1cd9.png)

I'm on AWS Sagemaker console.. I tried with a ml.g4dn.16xlarge to avoid having resource issues as I thought it was related to that.

Can you help me to solve this issue?

[2022-05-07 02:35] windmaple commented on #1
There is sth. weird with JAX installation. Could you do 'pip install -U jax[cuda] flax' and then run it again?

[2022-05-07 09:49] huanghaifeng1234 commented on #1
Enviroment: docker image with 'Linux 3b017f71c659 4.15.0-88-generic'
after running  'pip install -U jax[cuda] flax', then run 'jina flow --uses flow.yml', I get error:
![image](https://user-images.githubusercontent.com/81546069/167248985-7d41cd4b-f053-4a35-baf2-7c0a31e57a5c.png)
![image](https://user-images.githubusercontent.com/81546069/167248991-11c12ef3-13bf-4910-aae9-2bb15f365d14.png)
![image]

[2022-05-07 14:12] hanxiao commented on #1
dalle flow is untested on CPU, also not recommend to run on CPU, it is too computational demanding.

Your error suggests you are trying to run JAX on a CPU machine

[2022-05-07 15:30] huanghaifeng1234 commented on #1
Actually I'm running in a GPU machine, although I'm running in a docker container, which I run with argument 'docker run --gpus all'

---Original---
From: "Han ***@***.***&gt;
Date: Sat, May 7, 2022 22:12 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [jina-ai/dalle-flow] Failed to run my own server (Issue #1)

dalle flow is untested on CPU, also not recommend to run on CPU,

[2022-05-07 17:13] tom-doerr opened #4 "Diffusion Momentum"
I think the human-in-the-loop part could be much enhanced by adding momentum to the diffusion phase. That way it might be much easier to get significant and meaningful changes in the images.
As pseudocode:
[code]

Any chance we could get something like that or is it already possible to access the latent encoding so I can implement it myself?

[2022-05-07 19:56] hanxiao commented on #1
maybe jax is too old? try pip install -U jax in docker?

[2022-05-08 02:21] windmaple commented on #1
CPU definitely doesn't work. I can attest to that :)

[2022-05-08 08:48] Tomicito opened #5 "demo server invalid"
https://colab.research.google.com/github/jina-ai/dalle-flow/blob/main/client.ipynb#scrollTo=7lLbS5E42Wi1&line=1&uniqifier=1

line invalid, notebook won't run as a result :(

I'm fairly new to this so not sure how to resolve this issue - it was working before the most recent update 5/7/2022

[2022-05-08 11:58] #5 closed

[2022-05-08 11:58] Tomicito commented on #5
resolved !

[2022-05-08 15:28] eluzzi5 opened #6 "Colab notebook running forever"
Was working perfectly yesterday morning, but this code block runs forever with no output:
%%time

from docarray import Document

da = Document(text=prompt).post(server_url, parameters={'num_images': 8}).matches

da.plot_image_sprites(fig_size=(10,10), show_index=True)

[2022-05-08 18:08] hanxiao commented on #6
It was super crowded. But the server is continuously running

![aedf47c9136005d83709ec74a7b40d04](https://user-images.githubusercontent.com/2041322/167309437-745c1974-fdda-4450-9d81-87620c9511b1.gif)

One can deploy their own server as described here https://github.com/jina-ai/dalle-flow#server

[2022-05-08 18:12] hanxiao commented on #1
There are some caveats you may encounter when deploying your own server:

- You will need at least 2 GPU. One for DALLE mega one for GLID3 XL.
- Make sure you have [all files & folders structured as described here](https://github.com/jina-ai/dalle-flow#clone-repos)
- The first time downloading DALLE mega will take some time, my average speed internet takes 10 min.

[2022-05-08 19:15] #6 closed

[2022-05-09 03:43] huanghaifeng1234 commented on #1
Hi, I have 8 GPU, and files and folders have been structured as described. After I do ' pip install -U jax' and upgrade jaxlab to 0.3.7, it generated error:
![image](https://user-images.githubusercontent.com/81546069/167336565-d856dfd8-a800-4066-bd46-227e310d29d4.png)
I searched this error in stackflow and I got this:
[isin error](https://stackoverflow.com/questions/72109033/cannot-import-name-isi

[2022-05-09 07:22] hanxiao commented on #1
i see, let me work on an official Dockerfile today.

[2022-05-09 09:27] huanghaifeng1234 commented on #1
Thanks for your help

[2022-05-09 18:15] wstrinz commented on #1
I ran into just about the same sequence of errors trying to run this on a Debian 11 GCloud Compute Engine VM.

To get the `PrecisionLike` import working (after install the jax/jaxlib versions mentioned in https://github.com/jina-ai/dalle-flow/issues/1#issuecomment-1120607507), I installed the latest flax version from Github with:

[code]

And now the jina flow builds/starts successfuly!

[2022-05-10 04:06] huanghaifeng1234 commented on #1
install latest flax and jax version from github follewed by 'pip install --upgrade jaxlib' worked for me, thanks!

[2022-05-10 04:16] huanghaifeng1234 commented on #1
after I deployed my own server and I changed the server_url to 'grpc://0.0.0.0:51005' in my client.py like
![image](https://user-images.githubusercontent.com/81546069/167541090-8e5e40b0-dc0b-46eb-9bb2-d3b66b843250.png)

server has received the request but the client.py was stuck like forever
![image](https://user-images.githubusercontent.com/81546069/167541219-8d59e6a8-1d99-44a2-b6df-5e7ae5dae0b0.

[2022-05-10 06:34] becauseofAI opened #8 "DALL·E 2 support?"

[2022-05-10 07:22] hanxiao commented on #8
yes

[2022-05-10 07:23] #8 closed

[2022-05-10 07:24] hanxiao commented on #1
guys, im almost ready with my dockerfile, see #7 still last check.

[2022-05-10 07:31] hanxiao commented on #1
yes! it works with CUDA 11.6 out of the box! I'm going to write some README and merge into master!

[2022-05-10 09:07] hanxiao commented on #1
It's done! Give it try, open new issue if you have problems

[2022-05-10 09:07] #1 closed

[2022-05-12 22:15] tom-doerr opened #12 "Failed to connect"
Generating images currently doesn't seem to work.
When running the cell
[code]

I get the following error:
[code]

[2022-05-12 22:55] h0merg0mez commented on #12
Same issue for me in the Colab

[2022-05-13 05:41] iperezr commented on #12
I can confirm the same issue in Colab

[2022-05-13 08:57] hanxiao commented on #12
Thanks for the report, fixing it now.

[2022-05-13 10:02] hanxiao commented on #12
Solved, please reopen the notebook or update the server address

[2022-05-13 10:02] #12 closed

[2022-05-13 14:07] leetfin opened #13 "Error on first step sending prompt to server"
Running newest version of notebook in Colab.

[code]

[2022-05-13 15:38] hanxiao commented on #13
Thanks for the report, it is due to the TLS cloudflare timeout after 100s. It is now fixed. TLS is turned off, please reopen the Google colab notebook with new server URL `grpc://dalle-flow.jina.ai:51005`

[2022-05-13 15:38] #13 closed

[2022-05-14 15:38] spuliz opened #14 "Command jina flow --uses flow.yml is not completing the job"
Following your step by step guide for setting up my own server is taking forever.
My jina flow --uses flow.yml is running since 1 hour and is blocked at 4/6 (see screenshot).

<img width="834" alt="image" src="https://user-images.githubusercontent.com/15948985/168438506-8bfc8c0b-7940-4c25-aae2-86f21bec65bf.png">

[2022-05-15 19:09] 6630507 opened #15 "Local Server Error -- "RuntimeFailToStart""
I'm trying to run a local server in an anaconda environment; I've tried rebuilding the environment and even installed all dependencies manually, but I still get the same error.  Running Mint/Ubuntu 20.04 with an RTX 3090 (needed to update PyTorch for the 3090, this initially threw and error as well)

The first error in seems to be "can not import module from home/user/ml/dalle/dalle-flow/executors

[2022-05-15 22:30] 6630507 opened #16 "Docker Container Won't Run "error waiting for container: context canceled""
Running Ubuntu 20.04 with an RTX 3090.

Docker container builds successfully, but will not run.

[2022-05-16 06:08] hanxiao commented on #15
jax too old

[2022-05-16 14:34] 6630507 commented on #15
Thanks for your quick response.

I updated Jax to 0.3.12, but the local server still fails to run.

Now I'm getting an error

and also

Here is the complete run:
[code]

[2022-05-16 16:59] iperezr opened #17 "DALL-E Mega taking forever (tstate-lock?)"
Hey there!

Thanks for sharing the project. After updating dependencies, my run of the Colab gets stuck on step 1 trying to get 8 candidates from DALL-E Mega and GLID3 XL.

<img width="1319" alt="image" src="https://user-images.githubusercontent.com/42578882/168644743-ba32ce2d-6f01-4f77-b141-7bd3f5c0c658.png">

Any suggestions?

[2022-05-16 18:50] Pro100rus32 commented on #17
It's been over 40 minutes since the launch, but I'm still waiting)

[2022-05-16 20:23] iperezr commented on #17
After 6 hours with no success I re-started the Colab and tried again, to no avail. Sadly can't give more details as to what might be causing the issue, since everything happens on Jina's server.

[2022-05-16 23:44] tom-doerr commented on #17
It's my fault. I advertised my Dalle Flow Streamlit app on Reddit and multiple thousand people sent requests to Jina.ais server through my app. The traffic should die down in the next few hours.
Some statistics: https://share.streamlit.io/tom-doerr/dalle_flow_streamlit/main?stats=true

[2022-05-17 09:31] hanxiao commented on #17
yes, the traffic is booming and we only have one GPU to handle everything. At this stage, there is no plan to scale it up.

i don't think a badge can solve the traffic issue 😝 A more effective way is to deploy your own server by following the README, there is also a Docker image provided.

[2022-05-17 13:00] fuyunfei commented on #16
This may occur as you don't install nvidia-container-toolkit, simply type this command in terminal as:

distribution=$(. /etc/os-release;echo $ID$VERSION_ID)
curl -s -L https://nvidia.github.io/nvidia-docker/gpgkey | sudo apt-key add -
curl -s -L https://nvidia.github.io/nvidia-docker/$distribution/nvidia-docker.list | sudo tee /etc/apt/sources.list.d/nvidia-docker.list
sudo apt-get update && sudo

[2022-05-17 13:16] tom-doerr commented on #17
As a quick fix I limited the number of request that are sent from the website to two per 5 minutes.

[2022-05-17 17:23] 6630507 commented on #16
Thanks for the quick response.

I installed the nvidia-docker package and update my system to CUDA 11.6, but my docker image now terminates with "RuntimeFailToStart."

The docker image throws the following errors:

[2022-05-18 03:20] acheong08 commented on #14
Check out issue #1 or maybe use docker

[2022-05-18 03:33] AstrocyteTaki opened #18 "Cannot connect to dalle when run in docker"
Hello, thanks for sharing this wonderful project.

I had a problem there, I tried to run it in docker and access it locally. The docker build and run process is smooth, but when I started the client and tried to access it locally, this error occurs:
**ConnectionError: failed to connect to all addresses |Gateway: Communication error with deployment at address 0.0.0.0:49336. Head or worker may be do

[2022-05-18 08:15] nthomsencph commented on #18
Having the same issue.

[2022-05-21 07:13] hanxiao commented on #18
we recently fixed in the Dockerfile in #20 , this should solve the problem as we have successfully run it on `p2.8xlarge`, @jina-ai/engineering  will share more details next week.

[2022-05-21 09:02] alaeddine-13 commented on #18
Hey @nthomsencph , does `nvcc -v` and `nvidia-smi` print results correctly inside the ec2 instance and inside the docker image ?
(In order to get inside the docker image and run the commands you can do `docker run -it --entypoint /bin/bash jina-ai/dalle-flow`)

[2022-05-22 11:18] nthomsencph commented on #18
Now it works 🔥

Rebooted ec2 instance, ran `docker prune -a`, pulled repo and ran instructions. Thanks!

[2022-05-23 08:38] giux78 opened #23 "Docker error"
I have this problem running docker with command:
 `docker run -p 51005:51005 -v $HOME/.cache:/root/.cache --gpus all jinaai/dalle-flow`
on aws g5.xlarge with Deep Learning AMI (Amazon Linux 2) Version 61.2

I have done lot of experiment fixing many small problems but now I'm not able to figure out how to go forward.
 In any case thanks a lot for this wonderful project

SERVER:
Done. 0:0:0
device c

[2022-05-23 13:04] rdrlima opened #24 "New issue"
the colab is not working for me since yesterday

 Traceback (most recent call last) ────────────────────────────╮
│ /usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882 in run_code  │
│                                                                                           │
│   2879 │   │   │   try:                                                                   │
│

[2022-05-23 13:42] carrotbean commented on #24
I have the same issue.

[2022-05-23 22:07] spuliz commented on #23
I have the same issue 😞 spent 3 days trying to fix it but with no luck..

[2022-05-23 22:14] spuliz commented on #18
Hi @nthomsencph  I'm having the same issue on a g5x.large, which EC2 instance are you using? Which instructions did you follow to install the nvidia toolkit on docker? How did you install the cudnn8 inside docker?

Thanks!

[2022-05-23 22:18] spuliz commented on #18
@alaeddine-13 do you mean: docker run -it --entrypoint /bin/bash jina-ai/dalle-flow ?

[2022-05-23 22:25] spuliz commented on #17
@hanxiao I would happily set my own server but following the readme instructions is not enough. I think it needs to be improved by specifying exactly what other modules we need to install on top of the docker provided and what needs to be installed on the image of the instance (e.g. nvidia toolkit, etc..).

[2022-05-23 22:28] spuliz commented on #16
Same issues

[2022-05-24 01:31] 6630507 commented on #16
The dockerfile was recently changed to specify an nvidia-docker package on install.  I did a git-pull and nuked my conda installation and I can run the docker container now.

[2022-05-24 02:22] nthomsencph commented on #18
Hi @spuliz. We sprung for a AWS Deep Learning AMI (One which comes with CUDA116 and more - See above) to skip the hassle of configuring this.

[2022-05-24 07:32] #14 closed

[2022-05-24 07:32] spuliz commented on #14
That was an issue with my GPU not powerful enough.

[2022-05-24 09:05] chawins commented on #24
The problem seems fixed now

[2022-05-26 02:36] Charlie-Xiaoqi opened #25 "Google colab throw out the following issues"
when running the client.ipynb in colab, it throws out some errors for the following code:

`%%time

from docarray import Document

da = Document(text=prompt).post(server_url, parameters={'num_images': 8}).matches

da.plot_image_sprites(fig_size=(10,10), show_index=True)`

The error is:
`╭──────────────────────────── Traceback (most recent call last) ────────────────────────────╮
│ /usr/local/lib/p

[2022-05-26 08:33] olivercoad commented on #25
Workaround is to run `!pip install protobuf==3.20.1` and restart runtime

[2022-05-26 13:22] spuliz commented on #18
Thanks @nthomsencph which EC2 instance did you use? I am having an issue with the Tesla K-series as your AMI does not have them already installed.

[2022-05-27 03:38] Charlie-Xiaoqi commented on #25
It works, thank you!

[2022-05-28 01:10] Charlie-Xiaoqi opened #27 "Can not generate 36 diffusion pic"
Hi,
        In the markdown, for the below code it says:
`diffused = fav.post(f'{server_url}', parameters={'skip_rate': 0.5, 'num_images': 36}, target_executor='diffusion').matches

diffused.plot_image_sprites(fig_size=(10,10), show_index=True)`
"This will give 36 images based on the selected image. You may allow the model to improvise more by giving skip_rate a near-zero value, or a near-one valu

[2022-05-28 01:55] #25 closed

[2022-05-28 09:46] spuliz commented on #27
same issue

[2022-05-28 09:46] spuliz opened #28 "Calling Upscale from Colab is throwing an error"
I tried upscaling my images but they always stay at 250x250 and not at 1024x1024.
Server side error:
[code]

[code]

[2022-05-28 09:52] hanxiao commented on #27
free server restricts it to 9 per pathway, as described in the code
https://github.com/jina-ai/dalle-flow/blob/ba1c1e327a7daefbd09ae70109f74b34b1e27d0c/executors/dalle/executor.py#L15

You can host your own server and make it 36, 64, or however you want.

[2022-05-28 09:52] #27 closed

[2022-05-28 09:53] hanxiao commented on #24
upstream protobuf incident

[2022-05-28 09:53] #24 closed

[2022-05-28 09:59] JoanFM commented on #28
Hey spuliz, the error is clear, the path you are passing is not well seen by the Executor, I would maybe try sending the absolute path first of all

[2022-05-28 10:31] spuliz commented on #28
╭──────── Traceback (most recent call last) ────────╮
       │ /usr/local/lib/python3.8/dist-packages/jina/serv… │
       │ in process_data                                   │
       │                                                   │
       │   153 │   │   │   │   if self.logger.debug_enable │
       │   154 │   │   │   │   │   self._log_data_request( │
       │   155 │   │   │   │

[2022-05-28 10:42] spuliz commented on #28
Thanks @JoanFM - how and where should I add the absolute path in the docker files?

[2022-05-30 07:19] JoanFM commented on #28
In the `flow.yml` you can check this:

[code]

Maybe u want to edit the `swinir_path` argument to point to where the folder will be located inside the docker image

[2022-05-30 08:04] nthomsencph commented on #18
We used a p1.large with a 16GB GPU. No more is necessary since we don't expect too many requests. The Deep Learning AMI we use for this have CUDA 116 preinstalled.

On honeymoon so that's all the help I can offer ☀️

[2022-05-31 11:16] spuliz commented on #28
Hi @JoanFM are you able to repro the issue? More people are experiencing the same issue.
Steps to repro:
1) Install docker (following installation steps included in the readme of the repository)
2) Run docker
3) Open the Client provided on Google Colab and run all cells
4) See that image does not get upscaled but error is thrown.

[2022-05-31 11:17] JoanFM commented on #28
I did not have time to reproduce, but can u make sure by logging inside the container, that the path `../SwinIR` does exist?

[2022-05-31 13:05] spuliz commented on #28
Hi @JoanFM the path inside the docker is `../swinir` I modified flow.yml but is it not working still..

[2022-05-31 13:49] JoanFM commented on #28
can u show what the current error is now? it seems it is trying to `chdir` but not possible, but what's exactly the error?

[2022-05-31 17:14] spuliz commented on #28
@JoanFM
<img width="393" alt="image" src="https://user-images.githubusercontent.com/15948985/171234024-32f49f21-ee7c-44c9-a33e-f189c78a178d.png">

[2022-06-02 22:06] fancsiko commented on #12
What should I do if I still have the same error? I opened the notebook just recently. What is the server address should be updated to?

[2022-06-03 06:58] mattslight opened #29 "Executor Failed Running (Exit Code 100)"
I get the following error when running `docker build -t jinaai/dalle-flow .`

I tried `rm -rf` on dalle-flow. I'm on a Silicon Mac (arm64) and suspect the packages are only available for amd64.

Anybody else had any luck building the docker container on Mac silicon?

[code]

[2022-06-03 07:40] JoanFM commented on #29
Hey @mattslight ,

This seems to be something related with your specific docker, maybe this comment https://github.com/docker-library/mongo/issues/276#issuecomment-644770237 could help you?

[2022-06-03 07:44] JoanFM commented on #23
Hey @giux78 , are u sure the docker is able to load all the Executors? Make sure to give enough resources, you can try first to have a lower number of replicas for each Executor

[2022-06-03 07:45] JoanFM commented on #15
Thre must still be some problem with `jax`.

[2022-06-03 11:48] mattslight commented on #29
Thanks - I managed to deploy direct to Azure, I don't think building the docker on an M1 Mac was a good idea of mine 😂

[2022-06-03 11:48] #29 closed

[2022-06-03 17:02] 6630507 opened #30 "How to Save Images from Python"
Dalle-Flow seems to output images as DocArray data type "Document."

How does one use Python to save a DocArray "Document" to an image file on disk?

the iPython Display() functions seems to understand "Document" type, but PIL seems unable to write the data shown by Display() either through save or frombytes.

Using open/write with "wb" produces the error TypeError: a bytes-like object is required

[2022-06-03 17:27] 6630507 commented on #30
Holy smokes, found it

    d = (
    Document(image)
    .load_uri_to_image_tensor()
    .save_image_tensor_to_file('apple1.png')
)

[2022-06-05 06:30] hanxiao commented on #30
you may check [the docs of docarray](https://docarray.jina.ai/fundamentals/document/fluent-interface/), as DALLE Flow is powered by docarray and Jina

[2022-06-05 17:26] #30 closed

[2022-06-05 19:54] EmrahErden opened #31 "Server on Colab Pro"
According to the README.md file:

_"DALL·E Flow needs one GPU with 21GB memory at its peak. All services are squeezed into this one GPU.
...
CPU-only environment is not tested and likely won't work. **Google Colab is likely throwing OOM hence also won't work**."_

I'm planning to run server on the Colab Pro, which can go up to 36 GB of RAM. Before buying the paid subscription, has anyone tried and

[2022-06-05 20:59] tom-doerr opened #32 "Dalle endpoint"
Any chance to get an endpoint for generating images using just dalle and not glid-3? This would be useful for reducing the latency when generating the initial images.

[2022-06-05 22:02] hanxiao commented on #32
you can refer to how 2nd step bypass dalle by using `target_executor` to do the same for bypassing diffusion.

My suggestion is to read docs.jina.ai  and try understand Flow API a bit more. This will help you a lot.

[2022-06-06 00:52] tom-doerr commented on #32
Thank you for the tips!

[2022-06-06 00:52] #32 closed

[2022-06-08 08:39] Dessix commented on #28
An absolute path of `/dalle/SwinIR` did not resolve the problem; it appears to be that the real issue is that the path itself is actually valid but absent- because, above that, `main_test_swinir.py` applies the SwinIR model-zoo model and OOMs with `RuntimeError: CUDA error: out of memory`. I've reproduced the issue by running via Docker Desktop on Windows 10 with an RTX 3090 (24GiB VRAM) on Cuda 1

[2022-06-10 21:10] GallowsDove commented on #15
I have the same issue after going through all the steps in the readme

[2022-06-11 15:19] nathanmargaglio commented on #23
Seeing the same kind of issue on an AWS g5.xlarge instance running Deep Learning AMI (Ubuntu 18.04) Version 61.0.  GPUs appear to be accessible from within Docker, CUDA versions all match (11.6), and rebuilding with various configuration changes has no affect.

@JoanFM Care to explain what you mean in more detail?  The g5.xlarge should have enough resources, so if there's something else that needs

[2022-06-11 16:01] dmd commented on #12
I'm getting this as well.

[2022-06-11 16:29] dmd commented on #15
Same.

[2022-06-11 19:10] hanxiao commented on #28
Did you try building docker and run it via docker container? I just rebuild and run without any issue.

https://github.com/jina-ai/dalle-flow#run-in-docker

[code]

[2022-06-11 19:11] hanxiao commented on #23
Did you try building docker and run it via docker container? I just rebuild and run without any issue.

https://github.com/jina-ai/dalle-flow#run-in-docker

[code]

[2022-06-11 19:12] hanxiao commented on #18
Did you try building docker and run it via docker container? I just rebuild and run without any issue.

https://github.com/jina-ai/dalle-flow#run-in-docker

[code]

[2022-06-12 00:14] Dessix commented on #28
That's the way I built it in the first place- yes. The problem is that it allocates more memory than is available even on a 24GiB GPU, despite claiming to run in 21.7GiB.

The configuration being in `platform` memory mode would indicate that it should deallocate the memory for the other steps when it's done with them, but it seems to require enough of a baseline that the ~2 gigabytes used for upsc

[2022-06-12 09:09] realdep opened #35 "Google Colab Stuck in "Resource temporarily unavailable""
<img width="1364" alt="image" src="https://user-images.githubusercontent.com/9782679/173225993-fd7da99c-6ed0-4cfc-bd87-1ee1a4bd516f.png">

[2022-06-12 17:08] RokaMic commented on #31
This is my question along the same lines:  I have a Colab pro account, how do just run the model on that?

[2022-06-12 17:29] Quasimondo opened #36 "Docker image connecting to demo-cas.jina.ai?"
After several restarts I finally got the docker image to run locally on my machine. It was my impression that this image is supposed to be fully self-contained, but looking at the logs it reports:

`diffusion/rep-0@24 connected to demo-cas.jina.ai:2096`

Which seems to be set in flow.yml

So my question is whether this service is already provided by the docker image and this is just an oversight i

[2022-06-12 17:34] Reekomer opened #37 "Add documentation to run on M1 chip"
When running jina flow locally with an M1 chip, I noticed you needed to use a different version of jax to run it.
See [here](https://github.com/google/jax/issues/5501).

Having `jax == 0.2.10` does the trick.

It would be good to add it to the documentation.

[2022-06-12 19:32] nathanmargaglio commented on #23
@hanxiao

Yup, tried it a number of times, double checking that I'm doing everything correctly.  I can get it to build and run fine, and the GPU appears to be accessible from within the running container (i.e., by using `nvidia-smi` in the container).  But every time I try to communicate with it from a client (i.e., following the Google Colab example), I'd get some variation of:

(like the origina

[2022-06-13 03:03] ryakr commented on #28
I too am running into this issue on a 3090 running the code via the Docker image, but my error doesnt look to be related to a normal OOM. My system is reporting 4GiB, at least, still free in the VRAM when this occurs.

`RuntimeError: CUDA error: too many resources requested for launch `

It can usually upscale one or two images just fine before throwing this error until it is restarted again.
Here

[2022-06-13 03:14] Dessix commented on #28
@ryakr "CUDA error: Too many resources requested" implies that it is requesting too many threads per block. I'm not clear what may be different between our versions, but I am running a 3090 FTW3 rather than one based on the stock NVidia layout, so we may have actual hardware capability differences.

Worth noting: We're both hitting resource limits, just with different resources- and neither of the

[2022-06-13 03:30] ryakr commented on #28
@Dessix Yeah I figured our issues were related in some way, just thought I would drop in what i'm seeing to hopefully help narrow it down some. I'm running a 3090 Founders Edition myself, so its is exactly the stock NVIDIA layout.

In my testing just now I did find a curious quirk that does point to it being overused resource related though. I ran upscale and diffuse images over 50 times without h

[2022-06-13 16:17] carlitoselmago commented on #16
Same happening to me, tried with two different computers and linux distros, both with nvidia gpus

[2022-06-13 18:16] xnohat commented on #31
Run server successful on Colab Pro, but need ngrok trick to expose server to outside https://colab.research.google.com/github/shawwn/colab-tricks/blob/master/ngrok-tricks.ipynb

[code]

[2022-06-14 09:46] benjaminlgur opened #39 "Unable to import modules when running in server in docker."
Looks like I am unable to import certain modules such as `ERROR  dalle/rep-0@31 ImportError('can not import module     [06/14/22 09:35:53]                                                                             from /dalle/dalle-flow/executors/dalle/dm_helper.py')                                                                                                 `

Gist with master paste: https://

[2022-06-14 21:51] Mattie commented on #36
That's a demo server for https://github.com/jina-ai/clip-as-service -- it's pretty fast and responsive. I setup my own separate container for CAS to use in a private two server mode, but the demo server works pretty well.

[2022-06-15 01:39] bradleyess commented on #37
Hi @Reekomer - thanks for posting this. Do you remove your `flax` dependency to get this working for you?

[2022-06-15 04:29] 6174 opened #41 "ImportError: cannot import name 'MofNCompleteColumn' from 'rich.progress'"
Have this issue after run jina flow

My device is Mac Pro M1

[code]

[2022-06-15 10:07] hanxiao commented on #41
`pip install -U rich`

[2022-06-15 10:07] #41 closed

[2022-06-15 17:33] foomonkey93 commented on #15
I submitted a MR that updates the instructions, you explicitly need jax 0.3.13.

[2022-06-15 23:46] Jechto opened #43 "Problem downloading artifact-mega-1-fp16:latest inside docker"
Ok, i'm running Arch with a RTX 2060 on a laptop and have persistant issue getting the docker-image to boot properly. It gets stuck downloading the artifact and times out after 10 minutes

Currently the logs are as follows

[code]

Any solutions?

[2022-06-16 10:54] Jechto commented on #43
Somehow the issue had to do with the container not having access to the .cache folder.

[2022-06-16 10:54] #43 closed

[2022-06-17 22:29] Pathos14489 commented on #39
Running into this issue, and not running out of VRAM. It's returning
[code]

[2022-06-17 22:30] Pathos14489 commented on #15
jax 0.3.13 is not helping the issue on my end.
Python 3.9 and 3.10 both fail with the same issues.

[2022-06-18 02:40] foomonkey93 commented on #15
I've been using python 3.7, I know 3.10 definitely doesn't support it. You also should manually install your related jaxlib whl https://whls.blob.core.windows.net/unstable/index.html

[2022-06-18 03:14] Pathos14489 commented on #15
Installing Jax and Flax directly from their git repos worked, (I also pip upgraded jaxlib, unsure if it was necessary but just incase it is I'll mention it here.

[2022-06-18 05:45] Pathos14489 commented on #15
Well. I apparently spoke too soon. I've now tried Python 3.7, 3.8, 3.9, and 3.10, I've gotten past the original error, and now I'm stuck on:
[code]

[2022-06-18 18:09] matrach commented on #39
@Pathos14489

In my case, `pip install -r requirements.txt` from the [Dockerfile](https://github.com/jina-ai/dalle-flow/blob/main/Dockerfile#L34), upon seeing
[code]
 installs `jax==0.2.X`, because for some reason `jax[cuda]` fails to install with `jax >= 3`.

Replacing it with the version from the Dockerfile or commenting this line, should resolve the problem when building the image
[code]

(I've

[2022-06-18 22:23] Maia-Sason commented on #37
@Reekomer Hey there, have you tried running the server off of an m1 mac with a different image or only the client locally?

[2022-06-19 10:54] Curtis-64 commented on #31
I was able to build locally with only 8GB VRAM. And it worked !

I have a 1080 GTX with 8GB VRAM and 24GB RAM total. GPU ram went to 100% it printed "done with !" then CPU load went to 100%.  The VRAM never went above 100% 8B.

Total time for first step (longest) was 12 MIN 30 SEC on 1080 & 12900k CPU running WSL 2 under Win 11.

[2022-06-19 14:35] davisengeler commented on #31
@Curtis-64 are you using Docker or did you run it natively? I’m struggling to get either to work for dalle-flow, despite being able to run dalle-playground (using the Mega model) natively using GPU. Any tips for me to get flow working? Thanks!

[2022-06-20 07:29] Curtis-64 commented on #36
Thanks seen the same thing and was wondering!

[2022-06-20 07:39] Curtis-64 commented on #31
@davisengeler That's very interesting! Because I got dalle-playground running with mega (not mega full) GPU acceleration on WEin11 Docker but am having trouble getting it to recognize the GPU under Linux.  I have dalle-playground running in both a Docker image on Windows and a Docker image on Linux running under WSL  on Windows 11. . However, the Linux image is no longer using the GPU. I thought i

[2022-06-20 12:09] Curtis-64 commented on #31
For some reason dalle-flow is now running on my linux today with GPU support but did not yesterday. This tough is tough to get to work unless you are an expert in Linux, GPU, CUDA, etc.

But if you work at it for maybe 24 to 200 hours you might get it.  It took me about 72 hours of sustained effort and I'm a software engineer (but rarely used linux).

[2022-06-20 12:48] mistamun opened #45 "OperationalError: database is locked in MyStore executor"
I'm getting this error when launching the server both in Docker or natively.

the dalle-flow.db gets created with 777 but then this database is locked error occurs and no tables are ever initialised, the file remains empty.

I made no changes to the executor or the yml file and DocumentArray initialisation seems correct...

[code]

[2022-06-20 13:56] palexpereira opened #46 "Several errors in Docker"
Hello, I'm running into errors when running in Docker.

Right off the bat it throws this error:

`ERROR  rerank/rep-0@21 ImportError('can not import module    [06/20/22 13:48:52]
       from /dalle/dalle-flow/executors/rerank/executor.py')
       during <class
       'jina.serve.runtimes.worker.WorkerRuntime'>
       initialization
        add "--quiet-error" to suppress the exception
       detai

[2022-06-20 14:58] JoanFM commented on #45
Hey @mistamun ,

may you please add details about the exact error you are seeing?

[2022-06-20 16:27] hanxiao commented on #45
`OperationalError: database is locked` happened when multiple replicas trying to write at the same time, are you using one or multiple replicas for `MyStore` executors?

[2022-06-20 16:30] hanxiao commented on #31
Hi all, since we are discussing about running on Colab, I want to throw 2 articles that we officially recommend to run *any* Jina app on Colab:
- https://docs.jina.ai/how-to/google-colab/
- https://clip-as-service.jina.ai/hosting/colab/

They include google colab example that can be run out of the box.

Although these do not directly answer the problem "how can one run dalle-flow on colab", I beli

[2022-06-20 16:55] borrecw commented on #46
`pip install clip-server` resolves one issue, I can't figure out the executor.py issue

[2022-06-20 19:04] palexpereira commented on #46
Thank you for the reply @borrecw. I added clip-server to the requirements.txt and ran build again. everything worked up until throwing again a bunch of CUDA out of memory errors.
![image](https://user-images.githubusercontent.com/42252028/174662718-cd0c1169-643a-4b35-848b-5d0aca724656.png)

 Is dalle flow even possible to run on a 3090? I know I had only 500 mb allocated from the 24 GB before runn

[2022-06-20 19:50] borrecw commented on #46
I had the branch docker running using V100s on an AWS spot p3 instance, everything worked except upscaling before I was preempted

[2022-06-21 11:11] Reekomer commented on #37
My pleasure :). I didn't remove the flax dependency. For now, I have other issues I haven't had time to address in order to make everything run. I will keep you posted on this topic whenever everything runs.

[2022-06-21 11:13] Reekomer commented on #37
I am trying to run natively on my MacBook by following those steps: https://github.com/jina-ai/dalle-flow#run-natively

[2022-06-21 17:38] #16 closed

[2022-06-21 17:38] #46 closed

[2022-06-21 17:45] davisengeler commented on #31
Thanks @hanxiao. I was able to get the server started and exposed from a Colab Pro GPU notebook. When I connected from the frontend notebook, it seems to connect but the server notebook stops running before returning a result.

Is this expected for the time being, or have I’ve done something wrong? Thanks!

[2022-06-21 17:48] hanxiao commented on #23
closing for now as we are trying to provide an auto-build docker image in next few hours. feel free to open the issue if the new image still doesn't work.

[2022-06-21 17:49] hanxiao commented on #16
closing for now as we are trying to provide an auto-build docker image in next few hours. feel free to open the issue if the new image still doesn't work.

[2022-06-21 20:15] hanxiao commented on #31
Hi all, just fyi, im working on a full **free colab**  solution, stay tune in the next coming days!

[2022-06-21 20:33] AntonyLeons commented on #23
![image](https://user-images.githubusercontent.com/24696933/174892357-6b6d59e4-8ee3-4459-9469-72442d8769dc.png)
may want to re open this issue, this is under wsl2 however it is the same issue.

[2022-06-21 20:35] AntonyLeons commented on #23
<img width="632" alt="Screenshot_6" src="https://user-images.githubusercontent.com/24696933/174892766-38f6502c-74e9-4136-91e5-b6c55a8177be.png">
mau want to reopen this issue, latest docker image with. this is however under wsl2

[2022-06-21 23:11] hanxiao commented on #23
@AntonyLeons from the log the start of the service is success, and it looks like it receiving requests as well. Did you get the returned result on the client side?

[2022-06-22 10:28] yangkang2318 opened #48 "Could I only use the DALLE?"
Hello,this project is amazing, but can I just only use the DALLE due to my GPU limitations?

[2022-06-22 11:22] mistamun commented on #45
`flow_test.yml`

[code]

`executor.py` no change from main branch
[code]

traceback:

[code]

[2022-06-22 11:59] JoanFM commented on #45
hey @mistamun,

have u tried with a different store path to see if it works?

[2022-06-22 12:43] mistamun commented on #45
`/tmp/dalle-flow' works. Very odd because I could see dalle_flow.db get created with correct permissions in the local folder.

[2022-06-22 17:10] hanxiao commented on #48
yes, you can. you can comment out every other component. However, we can't offer support, as we are not interested in supporting running DALLE. You may find other opensource projects for this purpose.

[2022-06-22 17:10] #48 closed

[2022-06-23 01:24] yangkang2318 commented on #48
Thanks!

[2022-06-23 09:50] 0xWTC opened #49 "Would it be possible to generate an image in a different aspect ratio than 1:1?"

[2022-06-24 14:11] hanxiao commented on #49
yes.

However, think about it, what would be the best ratio then? 1:0.5? 0.618:1? 2:1, 3:1, 4:3? 0.7:1. Everyone has a very subjective ratio; or you can cut it yourself and then feed it as the input image for `/diffusion`. You will need to learn a bit [DocArray API](https://docarray.jina.ai) to know how to load image. There is no test for free-aspect image generation, however, so it may not work.

[2022-06-24 14:11] #49 closed

[2022-06-24 16:55] DataJuggler opened #50 "Do I just use a console window (command prompt) to enter this?"
I see your instructions has things like: (I don't have Jina installed either for the same reason).

docker pull jinaai/dalle-flow:latest

I have never created a Docker container. Do I use Powershell, or just a command prompt, or what should I be entering these commands into?

I am a C# developer, and I know Python, but I don't have a clue from your instructions what to do.
Is there a YouTube video

[2022-06-24 20:45] dhungtrinh commented on #39
The resolution of running on a larger instance does not work. I am using Nvidia Tesla A100 on GCP, with a CUDA 11.3 (not 11.6) by pulling the prebuilt docker.

[2022-06-24 20:48] dhungtrinh commented on #39
.

[2022-06-24 20:59] mohammedalsayegh commented on #23
I run Docker WSL2. There is an issue from the client side with the message the server is not available or already closed.

<img width="538" alt="image" src="https://user-images.githubusercontent.com/40126750/175666510-088169e2-7f8c-4e4b-8b19-6490b33e8978.png">

I don't have any issue with connecting to 'grpc://dalle-flow.jina.ai:51005'.

<img width="844" alt="image" src="https://user-images.github

[2022-06-24 21:07] nathanmargaglio commented on #39
So I actually just sent this message to someone else regarding this:

Now, it's been a little bit since I set it up so my memory is fuzzy, but I do remember trying to set this up using an AMI with CUDA 11.3 installed and facing different issues than the memory error. I only found success with instances having CUDA 11.6, so maybe try updating your CUDA.

And like I said, try looking back through/mo

[2022-06-24 21:11] AntonyLeons commented on #23
Yep, this is the error I got so this is caused by an out of memory issue but this is system memory not vram. This happen to me with 16GB allocated. 24gb seems to work for me, still complains about out of memory though.
________________________________
From: Mohammed H. Alsayegh ***@***.***>
Sent: Friday, June 24, 2022 9:59:57 PM
To: jina-ai/dalle-flow ***@***.***>
Cc: Antony Leons ***@***.***>; Me

[2022-06-24 21:18] ArtsyMedia opened #51 "Installing locally taking mysteriously long"
I am having a problem with the final code in the installation process:

`jina flow --uses flow.yml`

After running that in the console, the progress meter makes its way up to 5/6 before stalling for way too long. I've attached an image of what it looks like for me right now. Any way to fix this? There are no console errors and I am on a Mac with an M1 chip if that helps.

<img width="568" alt="Scr

[2022-06-24 21:22] mohammedalsayegh commented on #23
I am running it on an M40 with 24GB VRAM as secondary graphic card and 128GB system memory. That should be sufficient as no other tasks are taking place.

I'm running it in WDDM mode, and it appears correctly on the sub-system

<img width="572" alt="image" src="https://user-images.githubusercontent.com/40126750/175679989-5e84dd16-df39-41e9-9ef0-0a1727e7598c.png">

[2022-06-24 21:38] mohammedalsayegh commented on #23
I think it was a mistake on my part. Under Python windows, I had set the local IP to 0.0.0.0, which does not echo as a local address and result with transmit failed. By changing it to 127.0.0.1, it works.

<img width="824" alt="image" src="https://user-images.githubusercontent.com/40126750/175695733-dba95e8f-3fd4-43d0-9a6c-cf28d05eed8b.png">

It took 6 minutes with M40

<img width="917" alt="image

[2022-06-25 00:59] GreekPhysique commented on #31
@hanxiao Looking forward to it!

[2022-06-25 02:37] yesbroc opened #52 "server is down i think, error message below"
ERROR  GRPCClient@60 gRPC error: StatusCode.UNAVAILABLE failed to connect [06/25/22 02:32:40]
       to all addresses
       The ongoing request is terminated as the server is not available
       or closed already.
Exception in thread Thread-21:
Traceback (most recent call last):
  File "/usr/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/usr/local/lib/python3.

[2022-06-25 10:07] hanxiao commented on #52
solved

[2022-06-25 10:07] #52 closed

[2022-06-25 10:08] hanxiao commented on #51
bug of jax, try you run this simple code

[code]

 i believe it will seg-fault

[2022-06-25 20:34] Giupatamon opened #53 "Can't pull the docker pull jinaai/dalle-flow:latest"
The download starting after the command docker pull jinaai/dalle-flow:latest gets interrupted and it shows the error ERROR: unexpected EOF, I've tried downloading multiple times but it didn't work, any suggestion?

[2022-06-25 20:39] Giupatamon commented on #53
PS C:\Users\Klara\Documents\dalle-flow\dalle\dalle-flow> docker pull jinaai/dalle-flow:latest
latest: Pulling from jinaai/dalle-flow
d5fd17ec1767: Already exists
d7c6ec6e1327: Already exists
943d01f4776a: Already exists
23025e0ea7d2: Already exists
8acc1c2b01b0: Already exists
894d0771aab5: Downloading [==================================================>]  1.012GB/1.012GB
8451e5a9bff2: Download co

[2022-06-25 21:00] dhungtrinh commented on #39
Ok, I managed to get this to work with the guidance of nathanmargaglio. I will present one way to get this to work end-to-end so that you have at least one verified pathway to get Jina to work. Note, since we are using a pre-built AMI on AWS this method may not work in the long-term future. In any case, these steps work as of 06/14/22 09:35:00

Requirements
- Amazon AWS

1. Set up a g5.2xlarge ins

[2022-06-25 22:16] muchofire commented on #53
You are probably running into memory problems. You need more memory to store the entire model.

[2022-06-25 22:17] muchofire commented on #53
Here is my entire process.

Requirements

Amazon AWS
Set up a g5.2xlarge instance on Amazon AWS. This is easy, and you should not be discouraged. You need to request an increase in the service quote to 8 vCPUs to launch it. You need to install this AMI from AWS, 'Deep Learning AMI GPU PyTorch 1.11.0 (Amazon Linux 2) 20220328' which has an identifier ami-023d5aa1ee956059c. I had EBS 300gb gp3 for t

[2022-06-25 22:38] Giupatamon commented on #53
I'm using the local docker on my w10

[2022-06-26 11:13] yesbroc opened #54 "i think the server's down again-error below"
ERROR  GRPCClient@192 gRPC error: StatusCode.UNAVAILABLE failed to        [06/26/22 11:05:43]
       connect to all addresses
       The ongoing request is terminated as the server is not available
       or closed already.
Exception in thread Thread-21:
Traceback (most recent call last):
  File "/usr/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/usr/local/lib/

[2022-06-26 11:27] yesbroc commented on #54
diagnostic came up with nothing, it ran but didnt show the pending requests

[2022-06-26 12:30] Jpollock2474 commented on #54
I just tried it and got the same error. Must be down.

[2022-06-26 14:21] nerdyrodent commented on #15
Recognised the error, but took a bit of documentation diving to figure out how to get clip-as-a-service to use something other than ViT-B/32. Basically, create a .yml file like this one:

[code]
then start the clip server with that config file, e.g.
[code]
That should get round the
[code]
issue

[2022-06-26 16:37] palexpereira commented on #46
Hello, I ran the pre built image and even though I still get a CUDA out of memory the server seems to run nonetheless.
![image](https://user-images.githubusercontent.com/42252028/175824548-7f81ba29-f42a-4ce1-b36e-8a5eac78487c.png)
However after copy and pasting the private or public address in the colab i still get this error:

![image](https://user-images.githubusercontent.com/42252028/175824568-

[2022-06-27 01:14] juliencsharp opened #55 "hub.docker.com webpage : Slow Loading Times"
The [hub.docker.com ](https://github.com/jina-ai/dalle-flow/issues/new) page loads slowly when viewing images due to their large size.

Is there anything that can be done about this?

I'm sorry if this issue doesn't belong here.

[2022-06-27 05:41] mikaelhg commented on #23
Just reproduced exactly this issue with AWS g5.xlarge and (Driver Version: 470.103.01   CUDA Version: 11.4) as @giux78 and @nathanmargaglio.

Going to try the 16 GB -> 24 GB instance (CPU) RAM workaround which @AntonyLeons suggested, and will report back with results.

[2022-06-27 07:36] #54 closed

[2022-06-27 19:23] hanxiao commented on #53
potential reasons, sort by likelihood:
- network unstable
- out of disk space
- OOM

[2022-06-27 19:27] hanxiao commented on #51
That's the reason, you build it on M1, so by default `docker build` build it as `arm/aarch64`, whereas JAX does not support `aarch64`. You should run `docker build --platform linux/amd64`.

Notice, it will be very slow because you are trying to build cross-arch artifact on M1. It will be much faster if you can find an Intel 64-bit CPU machine to build it. I use M1 by myself but I rarely cross-arch

[2022-06-27 19:27] #51 closed

[2022-06-28 15:35] fogx commented on #50
check out [docker's get-started](https://docs.docker.com/get-started/) to learn more about docker images.

The section [run-in-docker](https://github.com/jina-ai/dalle-flow#run-in-docker) should be run inside your terminal.

After you've set up your server, you need to open the colab (client) and connect to the server, using the grcp address - probably `grpc://localhost:51005`

[2022-06-28 15:47] DataJuggler commented on #50
I got further after I posted. I installed Docker, got the container downloaded and extracted. When I went to build it, I got some error and didn't know how to solve it and gave up.

Maybe you know this:

Given these instructions below, do I replace ${USER} with my user name or leave these as ${USER}? I left them as is and got an error.

docker build --build-arg GROUP_ID=$(id -g ${USER}) --build-ar

[2022-06-28 17:51] Zaithe opened #57 "CUDA_ERROR_OUT_OF_MEMORY"
How much memory does this need? I have a 3090 and 32GB ram. Drives have plenty of free space as well.

[code]

[2022-06-29 11:20] arjunsinha89 commented on #50
- - - guy h- - - i okok ju```

h```tt get

[2022-06-29 13:06] yesbroc opened #58 "30+minutes of generation for me, checked the pending requests and it was 2000+"
i feel like a ddos was happening but idk, i jsut dont see how 2000 requests can happen at the same time
![Uploading Screenshot 2022-06-29 9.06.12 PM.png…]()

[2022-06-30 17:24] omduggineni opened #59 "Setting num_images to less than the number of GPUs on the server returns more than num_images images"
This appears to be an issue in https://github.com/jina-ai/dalle-flow/blob/main/executors/dalle/dm_helper.py - images are always generated in batches equal to the number of GPUs on the server. Perhaps try utilizing multiple GPUs across multiple requests rather than across individual images in the same request?

[2022-07-02 10:57] Sameer-connect-Hung-Linkedin opened #61 "How to select either DALLE-mega or GLID3 XL, but not both."
The documents details that Dalle-Flow draws images from both  DALLE-mega and GLID3 XL, such that the number of images returned are always double 'num_images'.

This is fine as you can select whatever image to store, however, if you are computing 100 images or 1000 images, then it becomes a significant computational waste when you recognize, depending on the prompt, that either DALLE-mega or GLID3

[2022-07-05 01:49] Limbicnation opened #62 "FileNotFoundError:"
`diffusion/rep-0@36167 fail to load file dependency                        [07/05/22 03:44:38]
⠙ Waiting dalle diffusion summary... ━━━━━━━━━━━━━━━━━━━━━━╸━━━━━━━━━━━━━━━━━ 4/7 0:00:00ERROR  diffusion/rep-0@36167 FileNotFoundError(2, 'No such file or directory')   [07/05/22 03:44:38]
       during <class 'jina.serve.runtimes.worker.WorkerRuntime'> initialization
        add "--quiet-error" to supp

[2022-07-06 14:07] AndreyRGW opened #64 "Hi, is it possible to run this neural network on a card with six gigs of vram, somehow?"

[2022-07-08 11:01] #58 closed

[2022-07-08 19:52] omduggineni commented on #64
That's basically impossible - the DALL-E model itself is ~9 GB of VRAM.

[2022-07-09 06:04] JoanFM commented on #64
Hey @AndreyRGW,

As mentioned by @omduggineni, this is not possible due to the size of the model.

[2022-07-09 06:04] #64 closed

[2022-07-09 06:31] okorlu opened #66 "Using Device CPU issue"
Hi,

I am trying the deploy Dalle-Flow server on my M1Pro chip MacbookPro. The machine has GPU, but Dalle-Flow doesn't use it! In the Dalle-diffusion summary phase, it said "Using device: cpu" How can I change this?

This can be a newbie question, because I am a newbie. Any help is much appreciated.

[2022-07-09 07:54] JoanFM commented on #66
Hey @okorlu,

Can you please show the logs when using `JINA_LOG_LEVEL=DEBUG` before starting the Flow? Which Executor do you want to have running in GPU?

[2022-07-09 21:49] okorlu commented on #66
Hey @JoanFM
It was right before waiting dalle... part. It looks like this
<img width="1512" alt="Screen Shot 2022-07-09 at 18 02 39" src="https://user-images.githubusercontent.com/57556211/178123714-127d03cd-b11d-45c0-8d88-eea435bba8f2.png">

[2022-07-10 00:37] JoanFM commented on #66
Hey @okorlu,

I do not see any obvious problem in this image, what is the exact problem?

[2022-07-10 03:59] okorlu commented on #66
Hey @JoanFM,

As you can see right after rerank/rep-0©8402, after "Waiting dalle diffusion summary" it says: "Using device cpu". In the hardware requirements, it is specifically mentioned that "CPU-only environment is not tested and likely won't work." First, I don't think this a problem. You know, may it uses it for other purposes? But than I waiting and waiting and waiting... After more than 20

[2022-07-14 15:12] yesbroc opened #67 "eventloop keeps crashing in the background"
Exception in thread Thread-22:
Traceback (most recent call last):
  File "/usr/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/usr/local/lib/python3.7/dist-packages/jina/helper.py", line 1292, in run
    self.result = asyncio.run(func(*args, **kwargs))
  File "/usr/lib/python3.7/asyncio/runners.py", line 43, in run
    return loop.run_until_complete(main)
  File

[2022-07-21 07:37] putuoka opened #69 "I tried from colab research google page but get different results from example images"
i try prompt: "a cubism painting donald trump happy cyberpunk" run on https://colab.research.google.com/github/jina-ai/dalle-flow/blob/main/client.ipynb

the results should like in the example readme this one:

![image](https://user-images.githubusercontent.com/20880839/180156808-5ec18084-4eef-4eae-880f-e5a934cfc85e.png)

but what i got is this different image

![image](https://user-images.githubu

[2022-07-21 07:40] hanxiao commented on #69
because you didn't finish the step 2 and step 3

[2022-07-21 07:41] #69 closed

[2022-07-21 07:52] putuoka commented on #69
already do that but still not as smooth as example image. may be i need to try step-1 multiple times to get the near similar results. not sure

[2022-07-25 09:34] AshishSardana commented on #23
using `grpc://127.0.0.1:51005` instead of `grpcs://` can also help in resolving network protocol related errors.

[2022-07-26 08:34] delgermurun opened #70 "Port to "min-dalle" to improve speed and maintainability"
https://github.com/kuprel/min-dalle is a fast, minimal port of DALL·E Mini to PyTorch.
Also, this version is actively maintained.

[2022-08-04 05:38] wfs2018 opened #75 "Timeout, how do I download the model and specify the model load path"
Due to network problems,i'm stuck at step 6 after running the relevant command
<img width="807" alt="image" src="https://user-images.githubusercontent.com/45965437/182770690-59fc7f4b-5fd4-4767-b668-132239bcd191.png">
Where can I download the model and specify a local load path？

[2022-08-04 05:50] wfs2018 commented on #75
<img width="889" alt="image" src="https://user-images.githubusercontent.com/45965437/182772554-4a7a6072-97c7-4a3d-8f7d-4a98980212f0.png">

[2022-08-04 09:24] delgermurun opened #76 "make "store" executor floating"
so it can run background asynchronously without blocking

[2022-08-08 03:29] #75 closed

[2022-08-09 08:18] knorr3 opened #80 ""Diffusion" executer not starting"
Hello,
I am trying to run the dalle-flow server container on OpenShift with an Nvidia A40 GPU.
After waiting 10 minutes for dalle and diffusion, the diffusion executer terminates with a timeout.
I have tried the latest container image and also tried installing the latest version manually inside the container image.
Another problem is that there is not a single error or debug message coming from th

[2022-08-09 08:30] delgermurun commented on #80
@knorr3 Could you try adding `timeout_ready: -1 ` config ([like in dalle](https://github.com/jina-ai/dalle-flow/blob/55a379e08554e33dbac636ab1ad5de95bbe8d0b0/flow.yml#L11)) to diffusion executor in `flow.yml`?

[2022-08-09 09:01] knorr3 commented on #80
Currently trying that, thank you.
But what could diffusion take so long? I thought that dalle would take ~8 mins to start up because of the download.

[2022-08-09 09:09] delgermurun commented on #80
I am not sure also.

If you run using docker, it is already downloaded diffusion model weights, so it shouldn't take so long.
Maybe there is still something downloading from the internet.

[2022-08-09 09:25] knorr3 commented on #80
To be honest, i don't think this is the problem.
I am currently at 45 minutes waiting time. The download speed should be fast enough with ~20 MByte/s :-).

[2022-08-09 09:31] delgermurun commented on #80
you can try to start only diffusion by commenting out other executors and not relevant things in `flow.yml`.
This way at least you'll have less clutter on the console. Maybe catch some error log.

[2022-08-09 12:35] knorr3 commented on #80
Did that, but there's not a sinlge error message. Only some DeprecationWarnings about PIL.Nearest.

[2022-08-10 15:05] #80 closed

[2022-08-11 06:46] knorr3 opened #82 "Failed to connect to all addresses"
Hi,
I got the server running and tried it out. After executing the client:

[code]

The server doesn't respond to the notebook and prints the following error:
[code]

Any idea what I can do?

EDIT: I am running the latest docker image on OpenShift.

[2022-08-11 15:02] AmericanPresidentJimmyCarter opened #83 "Add stable-diffusion as an optional flow executor for image generation"
The stable diffusion model is not yet out, but as soon as it is released I will add a PR to allow it to be used in the list of executors for image generation. If I have time I will also add variation, embedding transitions (morphing gifs between embeddings), and inpainting.

[2022-08-11 17:23] AmericanPresidentJimmyCarter commented on #61
In `flow.yml`, comment out the executor you don't want, and then remove it from `needs` in the rerank flow.

[2022-08-13 14:07] derek-adair commented on #82
You have not configured your server_url properly would be my guess.

[2022-08-15 09:06] delgermurun commented on #82
@knorr3 have you figured out the issue?

Maybe `demo-cas.jina.ai:2096` is not reachable for some reason.
If you have extra GPU memory, you could also try to run CLIP yourself https://github.com/jina-ai/dalle-flow#run-your-own-clip

[2022-08-16 07:42] knorr3 commented on #82
Ah, now I get it! It cannot connect to demo-cas.jina.ai because it has to use the proxy.
The documentation of jina doesn't state any proxy settings for executors :(

I tried your suggestion, but as I am in a container in a Kubernetes cluster, i cannot run docker inside it.

[2022-08-16 07:59] delgermurun commented on #82
Usually you don't need to do anything special if your machine has public internet access (outgoing traffic is allowed).

[2022-08-16 09:53] knorr3 commented on #82
I cannot access public internet without using the proxy. Is there any way I can configure jina to use the proxy?

[2022-08-16 10:44] derek-adair commented on #82
Jina can be configured to point to a proxy from the CLI with the `--proxy` flag.  I've not really *used* k8s but i'm assuming you can set that flag on some entrypoint-like-thing.

[2022-08-16 11:18] knorr3 commented on #82
It does have a `--proxy` flag, but only for `jina gateway` and `jina client`.
There is no proxy flag for the `jina flow` command:

[code]

[2022-08-16 11:35] delgermurun commented on #82
Or you can run CLIP executor from its source code.
Try running with `uses: jinahub://CLIPTorchEncoder/latest-gpu`? (instead of `jinahub+docker`)

I don't know about `--proxy` flag, sorry. You can always ask from support channel in [Slack](https://slack.jina.ai/).

[2022-08-17 03:28] Andrei997 commented on #76
Updated the DalleFlowStore executor to store generated images in the background using ThreadPoolExecutor (similarly to how `DocumentArray.apply()` would work).
Created PR at https://github.com/jina-ai/dalle-flow/pull/85

[2022-08-17 06:19] delgermurun commented on #76
We can use https://docs.jina.ai/fundamentals/flow/add-executors/#floating-executors directly without manually running in thread.

[2022-08-17 07:35] knorr3 commented on #82
I tried using `jinahub://` but it just terminated after downloading, again without any error.

I think the most reasonable action at this point would be to get a proxy whitelisting for demo-cas.jina.ai.
Thank you very much for the support. I'll write again when there are any news or problems.

[2022-08-18 07:22] #76 closed

[2022-08-22 08:03] 1GR3 opened #89 "Docker Image not working on Apple Silicon (M1 chip)"
I've pulled the image on M1 Max MBP and tried running it by:
`docker run -p 51005:51005 -v $HOME/.cache:/home/dalle/.cache --gpus all jinaai/dalle-flow`
which returns:
`WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested
docker: Error response from daemon: could not select device driver "" with capa

[2022-08-26 07:21] mariepop13 opened #90 "jina flow --uses flow.tmp.yml"
Here what I have.

I did what proposed In #1… nothing change…
![IMG_0468](https://user-images.githubusercontent.com/111949416/186845292-e741b919-f303-49f6-93ea-c985b66930c9.png)
![IMG_0468](https://user-images.githubusercontent.com/111949416/186845427-c4c8e63e-bdd6-4abd-8713-6d8f7bd920e1.png)
![IMG_0469](https://user-images.githubusercontent.com/111949416/186845444-6f56ecc6-ca87-41a9-b666-3f0b7160

[2022-08-26 15:25] AmericanPresidentJimmyCarter commented on #90
@mariepop13 Please give me the output of these two commands: `python --version` and `cat flow.tmp.yml`.

[2022-08-26 16:29] mariepop13 commented on #90
@AmericanPresidentJimmyCarter

paperspace@pspkgwgm9:~$ python3 --version
Python 3.8.10

paperspace@pspkgwgm9:~$ cat flow.tmp.yml
cat: flow.tmp.yml: No such file or directory

[2022-08-26 16:32] AmericanPresidentJimmyCarter commented on #90
OK, so `python flow_parser.py` did not run. Have you tried `python3 flow_parser.py`? If you are running outside of a virtualenv you will need to specify the python version.

[2022-08-26 16:46] mariepop13 commented on #90
I had to reinstall jina by pip.
During the installation
ERROR: docker 6.0.0 has requirement requests>=2.26.0, but you'll have requests 2.22.0 which is incompatible.

Still the same error as first pic

than I tried again cat flow.tmp.yml

paperspace@pspkgwgm9:~/dalle-flow$ cat flow.tmp.yml
jtype: Flow
with:
  env:
    JINA_LOG_LEVEL: debug
  monitoring: true
  port: 51005
  protocol: grpc
executors

[2022-08-26 17:28] AmericanPresidentJimmyCarter commented on #90
OK, you are indeed running it outside a virtual environment. Do this if you're trying to run stable-diffusion, from the `dalle/dalle-flow` folder:

[code]

Run jina with stable diffusion by:

[code]

[2022-08-26 17:47] mariepop13 commented on #90
Hi, again
I was in

 (env) paperspace@pspkgwgm9:~/dalle-flow/dalle/dalle-flow$ python flow_parser.py --enable-stable-diffusion --disable-dalle-mega --disable-glid3xl
python: can't open file 'flow_parser.py': [Errno 2] No such file or directory

Or I have to go in ~/dalle-flow/?

I was trying to install the discord-bot too.

[2022-08-26 17:52] AmericanPresidentJimmyCarter commented on #90
Can you confirm that your filesystem looks like this?
[code]

[2022-08-26 17:56] mariepop13 commented on #90
Sure

I had to download from
https://github.com/CompVis/latent-diffusion
https://github.com/CompVis/stable-diffusion
Because your link in
https://github.com/AmericanPresidentJimmyCarter/dalle-flow/tree/stable-diffusion
Where dead as well

(git clone https://github.com/CompVis/latent-diffusio324n.git
git clone https://github.com/StableDiffusion/latent-diffusion.git)

So here what I have:
(env) pape

[2022-08-26 17:58] mariepop13 commented on #90
(env) paperspace@pspkgwgm9:~/dalle-flow$ ls
client.ipynb  executors        flow.tmp.yml  LICENSE           start.sh
dalle         flow-jcloud.yml  flow.yml      README.md
Dockerfile    flow_parser.py   k8s_flow      requirements.txt

versus

(env) paperspace@pspkgwgm9:~/dalle-flow/dalle/dalle-flow$ ls
client.ipynb  env        flow-jcloud.yml  k8s_flow  README.md
Dockerfile    executors  flow.yml

[2022-08-26 19:14] mariepop13 commented on #90
I am so sorry...  doesnt work.
Why do I have

[code]

And not
`/home/<user>/.local/lib/python3.9/site-packages/jina/__main__.py flow --uses flow.yml
`

can it be the problem???

otherwise

[code]

[2022-08-26 19:18] AmericanPresidentJimmyCarter commented on #90
Are you in the virtual environment where you installed everything?

[code]

[2022-08-26 19:28] mariepop13 commented on #90
I do.

Don't know if it can help.

[code]

[code]

[2022-08-26 19:34] AmericanPresidentJimmyCarter commented on #90
`flow.tmp.yml` Looks good. Can you `cat ~/dalle` for me? Jina crashed because it couldn't find the SwinIR or k-diffusion installations, it's like several of the packages weren't installed into the virtual environment.

[2022-08-26 19:39] mariepop13 commented on #90
[code]

[2022-08-26 19:39] AmericanPresidentJimmyCarter commented on #90
Sorry lol, it's been a long day. `ls ~/dalle`, which will list the directories.

[2022-08-26 19:41] mariepop13 commented on #90
lol, thanks to make me feel more guilty

[code]

[2022-08-26 19:44] AmericanPresidentJimmyCarter commented on #90
No, it's not you!

OK, you have all the right folders. Run these commands while inside the virtualenv (terminal prefixed with `(env)`):

[code]

Then run jina again with

[code]

Did that work?

[2022-08-26 20:49] mariepop13 commented on #90
Spoiler alert: no...

[2022-08-26 20:52] AmericanPresidentJimmyCarter commented on #90
At this point I am unsure what is the issue. However, would you like to try installing `dalle-flow` through docker? I have updated the README in the bot repo:

https://github.com/AmericanPresidentJimmyCarter/yasd-discord-bot#docker-installation-build-docker-image-yourself

If you follow that you can just run a docker image instead of having to install `dalle-flow` manually.

[2022-08-26 20:54] mariepop13 commented on #90
Ya sure thanks again for your time, I will update you with the results if you want.

[2022-08-26 20:54] AmericanPresidentJimmyCarter commented on #90
Yes, it's always good to know if something works or does not. Unfortunately I am not sure why installing jina/dalle-flow normally is failing.

[2022-08-27 03:42] ColdCawfee opened #92 "RuntimeError: you have an eventloop running but not using Jupyter/ipython."
I get this when attempting to use VSC (Visual Studio Code) to run DocArray's Document class. It keeps saying to adjust "Client/Flow" to "asyncio=True", but I am not using either of those classes.

Any help would be awesome, thank you!

[2022-08-27 03:44] ColdCawfee commented on #92
Logs attached if that helps too:
![Screenshot 2022-08-27 004403](https://user-images.githubusercontent.com/79474598/187013139-9fe5e70d-de01-48b1-893e-4f56b26a2f3b.png)

[2022-08-27 14:28] AmericanPresidentJimmyCarter commented on #92
See this issue: https://github.com/jina-ai/jina/issues/4761

[2022-08-27 14:38] AmericanPresidentJimmyCarter commented on #92
Note that if you're trying to use this directly in async code you should alter `flow.tmp.yml` to have

[code]

It should perhaps be another environmental variable in `flow_parser.py` to make the feature easily accessible. @delgermurun

Yet the default configuration is sync -- hence to work with async code as specified I actually use a [filesystem bus in my Discord bot code](https://github.com/Amer

[2022-08-29 07:28] delgermurun commented on #92
@AmericanPresidentJimmyCarter yeah, let's have env variable for it. Would you mind raising a PR 😁 ?

[2022-08-29 12:45] AmericanPresidentJimmyCarter commented on #92
No problem, I will look into it this week.

[2022-08-29 13:04] AmericanPresidentJimmyCarter opened #95 "Bug in rendering in SD at lower than 512x512 resolutions"
Noted by a user of my discord bot, it produces strange noise. I will have to look into after and make sure that I'm setting the height/width variables correctly everywhere.

[2022-09-06 00:38] RHODOK opened #100 "TypeError: 'NoneType' object is not subscriptable"
When running natively or using Docker container I receive the error as per traceback:

[code]

text_emb_clip is not being populated, been trying to run pdb's in the native version but that seems to create a lot of issues on it's own.

It runs fine when glid-3 is disabled, but it then loses some of the power of the flow and mainly just results in me running stable diffusion.

This is running in WSL

[2022-09-06 00:54] Kadah opened #101 "Add switch to flow_parser.py to run clip encoder locally"
To compliment #98, a new switch in flow_parser.py to run clip encoder locally would be convenient.

Currently this has to be done manually via [Run your own CLIP](https://github.com/jina-ai/dalle-flow#run-your-own-clip)

[2022-09-06 08:38] delgermurun commented on #100
Need to provide embedding from previous step.
https://github.com/jina-ai/dalle-flow#step-2-select-and-refinement-via-glid3-xl
[code]

`fav.embedding = doc.embedding` is important one.

[2022-09-07 18:37] RHODOK commented on #100
This doesn't exist, the first model hit is the glid, i.e. this error occurs before that step on line:

[code]

[2022-09-08 06:45] delgermurun commented on #100
hmmm. Do you have `clip_encoder` executor before `diffusion`?

[2022-09-09 00:12] Zaithe commented on #28
I got the same error in linux mint and i fixed it by running `sudo apt install python-is-python3`

[2022-09-09 10:28] cloveday commented on #31
This is really useful to know. Was put off trying until I saw this. I'll give it a go with my 1080Ti!

[2022-09-10 09:20] davvoz commented on #67
Same here from Google Colab , when try to rerun from cell 3 to cell 2
`Exception in thread Thread-27:
Traceback (most recent call last):
  File "/usr/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/usr/local/lib/python3.7/dist-packages/jina/helper.py", line 1299, in run
    self.result = asyncio.run(func(*args, **kwargs))
  File "/usr/lib/python3.7/asyncio/runner

[2022-09-10 19:48] AmericanPresidentJimmyCarter opened #103 "Add prompt weighting to stable-diffusion pipelines"

[2022-09-11 14:39] AmericanPresidentJimmyCarter opened #104 "Add ability to store conditioned latents somewhere (tags?) for stable diffusion pipelines"
This will allow diffusion on things like interpolated conditioned latents, which don't exist in prompt space.

[2022-09-11 23:06] AmericanPresidentJimmyCarter opened #105 "Add another environmental variable so you can set CUDA_VISIBLE_DEVICES in flow_parser.py and docker image"
Right now it only uses a single GPU because `CUDA_VISIBLE_DEVICES: 0` is set by default.

[2022-09-12 05:57] tom-doerr opened #106 "Can't use stable diffusion executor"
I'm trying to use the stable diffusion executor using
[code]
but I'm getting no images back:
[code]
Is the stable diffusion executor not online?

[2022-09-12 07:04] delgermurun commented on #106
Hi @tom-doerr. Yes, we haven't deployed stable diffusion executor to our demo server yet.

[2022-09-12 07:06] delgermurun commented on #67
@davvoz maybe https://github.com/jina-ai/dalle-flow/issues/100#issuecomment-1237837986 this will help.

[2022-09-12 11:41] davvoz commented on #67
@delgermurun Thank you ! So i modify step 3 adding `fav.embedding = doc.embedding`

[code]

[2022-09-13 15:56] MSDNAndi opened #107 "Windows instructions?"
It would be nice if you could provide windows instructions. Various commands do not work on Windows without additional steps (including opening ports).

[2022-09-13 20:51] MSDNAndi opened #108 "jaxlib not found"
When launching
jina flow --uses flow.tmp.yml
jax seems to fail because jaxlib is not found. All requirements / pip install seem to be satisfied.

Platform: Windows.
Used conda for environments.

ERROR  dalle/rep-0@144956 ImportError('can not import module from                                    [09/13/22 16:49:02]
       D:\\Dev\\AIModels\\Diffusion\\dalle\\dalle-flow\\executors\\dalle\\executor\\

[2022-09-14 09:57] delgermurun commented on #107
Hello @MSDNAndi,

Thank you for trying out DALL·E Flow. Sorry that you're having trouble running it on Windows.
As we do not have expertise in the Windows environment, we cannot do much about it. I'm sorry about that.

As open source software, we rely heavily on community contributions.
Therefore, if you are able to run Dalle-Flow on a Windows machine, a PR for instructions would be greatly apprec

[2022-09-17 15:03] mchaker opened #109 "BUG: Round-Robin GPU scheduling does not accept lists of GPUs properly"
`CUDA_VISIBLE_DEVICES: "RR6:8"` works, but the following are expected to work however do not work:

`CUDA_VISIBLE_DEVICES: "RR1,4"` does NOT work but should work

`CUDA_VISIBLE_DEVICES: "RR1,3,5,7" does NOT work, but should work

`CUDA_VISIBLE_DEVICES: "RR1,4:6"` does NOT work, but should work

`CUDA_VISIBLE_DEVICES: "RR1,3,5,6:8" does NOT work, but should work

`CUDA_VISIBLE_DEVICES: "RR0:3,5,7"

[2022-09-17 18:46] AmericanPresidentJimmyCarter opened #110 "Switch to a faster, more memory efficient version of the stable-diffusion library"
That repo does not appear to be maintained:

https://github.com/CompVis/stable-diffusion/issues/260

I have started my own repo with an emphasis on purity and optimizations:

https://github.com/AmericanPresidentJimmyCarter/stable-diffusion

[2022-09-17 20:36] AmericanPresidentJimmyCarter opened #111 "Add support for textual inversion mined embeddings for stable diffusion"
https://huggingface.co/sd-concepts-library

[2022-09-18 20:14] AmericanPresidentJimmyCarter opened #113 "Add inpainting and add the ability to autodetect image portions by prompt and inpaint"
Inpainting is already done on an unpushed branch.

It looks like segmentation can already by done by CLIP.

https://github.com/brycedrennan/imaginAIry/blob/a0087c13049fe15ff988d051e8b635b54d578ccf/imaginairy/enhancers/clip_masking.py

[2022-09-19 07:26] delgermurun commented on #110
How about https://github.com/huggingface/diffusers? Should we switch to this?
Looks like really simple to use.

[2022-09-19 12:47] AmericanPresidentJimmyCarter commented on #110
I would need to tear out and rewrite all of my code. I've known about the existence of the library since it was created but compared to the origin compvis lib I found that the diffusers lib was too abstracted and gets performance updates later or never compared to some of the more popular libraries like lstein/neonsecret/automatic1111.

[2022-09-19 12:48] AmericanPresidentJimmyCarter commented on #110
My library is already faster than this one too. Getting 15 it/s with it on a 3090.

[2022-09-19 15:07] AmericanPresidentJimmyCarter opened #114 "Add automated novel concept training for SD to a new executor"
Basically run this notebook but as an executor: https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/sd_textual_inversion_training.ipynb

The concepts could be automatically uploaded to huggingface or piped directly as docarrays to `stable` executors.

[2022-09-19 16:07] AmericanPresidentJimmyCarter commented on #114
Turns out this is already out of date lol. Apparently the better implementation is here: https://github.com/XavierXiao/Dreambooth-Stable-Diffusion

[2022-09-19 21:39] AmericanPresidentJimmyCarter commented on #114
OK -- looking into this more, the dreambooth method finetunes the actual model and so is not portable. This is fine -- lstein has a good, lower memory implementation of the training script that works with the weights from the checkpoint we use otherwise. Then we can just automate the uploading step to huggingface according to the diffusers script above.

[2022-09-20 19:24] corporealfunk commented on #62
I have this issue when running the docker image as well

[2022-09-21 19:17] corporealfunk commented on #62
Ok, so I'm not a docker expert, but this is a permissions issue about how the dalle user inside the docker container accesses mounted/shared volumes with the host. Inside the docker container, the user is UID 1000. That means that the folder being shared from the host had better be owned by UI 1000. Also, the documentation here in the README has the docker launch -v flag option backwards, in Docke

[2022-09-24 15:32] AmericanPresidentJimmyCarter opened #115 "Add real ESRGAN upscaler to the upscaler executor"
realESRGAN has an anime-finetuned upscaler while SWINIR was mainly trained on photographs and makes a mess of lineart. We should be allowed to select different upscalers when using the `upscale` endpoint.

[2022-09-24 15:39] AmericanPresidentJimmyCarter opened #116 "Add FILM interpolation so we can create videos from keyframes generated by dalle-flow"
https://github.com/google-research/frame-interpolation

Some people have asked me for this.

[2022-09-29 07:50] #103 closed

[2022-09-29 07:50] #104 closed

[2022-09-29 07:50] #110 closed

[2022-09-29 07:50] #111 closed

[2022-09-29 07:50] #105 closed

[2022-10-03 13:56] AmericanPresidentJimmyCarter opened #120 "Fix bug on SD interpolation when resample_prior is False"
The seed should be held constant if `resample_prior` is False, but increment if `resample_prior` is true, presently it does not and the seed is incremented in both cases.

[2022-10-04 05:09] justin-romano opened #122 "can not load the executor from executors/swinir/config.yml"
Trying to install Dalle Flow from the native server instructions but im getting this error.
I'm installing into an Ubuntu 22.04.1 LTS vm

[2022-10-04 06:28] justin-romano commented on #122
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jina 3.10.0 requires grpcio<1.48.1,>=1.46.0, but you have grpcio 1.49.1 which is incompatible.
jina 3.10.0 requires protobuf>=3.20.0, but you have protobuf 3.19.6 which is incompatible.
clean-fid 0.1.31 requires requests==2.2

[2022-10-04 06:29] justin-romano commented on #122
Im getting these errors on both ubuntu and windows. this must be a new error

[2022-10-06 00:46] #120 closed

[2022-10-06 02:23] justin-romano opened #123 "Error running dalle-flow docker container on GPU VM in Azure"
$ docker run -p 51005:51005 -it -v $HOME/.cache:/home/dalle/.cache --gpus all jinaai/dalle-flow
docker: Error response from daemon: OCI runtime create failed: container_linux.go:367: starting container process caused: process_linux.go:495: container init caused: Running hook #0:: error running hook: exit status 1, stdout: , stderr: nvidia-container-cli: initialization error: nvml error: driver not

[2022-10-06 13:26] Tyler2ee opened #124 "Error with stable-diffusion model - FileNotFoundError"
Hi,
I tried to install stable diffusion model to my local server, but I encountered this error when I run
`jina flow --uses flow.tmp.yml`

`FileNotFoundError: [Errno 2] No such file or directory: '/home/tyler/.cache/huggingface/hub/models--openai--clip-vit-large-patch14/refs/main'`

Also I tried this simple script too.

[code]
but the same error happened.
I used this lib for stable-inference.
stab

[2022-10-06 14:32] AmericanPresidentJimmyCarter commented on #124
It should download that automatically on first run if it's not there, since it needs it for the tokenizer/embedder.

[2022-10-06 14:41] AmericanPresidentJimmyCarter commented on #124
See: https://github.com/AmericanPresidentJimmyCarter/stable-diffusion/blob/main/src/ldm/modules/encoders/modules.py#L235-L250

As it's from `transformers`, it's odd that it didn't simply download.

[2022-10-06 14:42] JoanFM commented on #124
this `local_files_only=True` seems odd @AmericanPresidentJimmyCarter ?

[2022-10-06 14:52] AmericanPresidentJimmyCarter commented on #124
Yeah, that must be it. I will remove it in my repo later today and bump the version. @Tyler2ee for now just open `python` and

[code]

That should download the models.

[2022-10-06 21:33] JoanFM commented on #124
Please @AmericanPresidentJimmyCarter , can you please let us know when this is bumped on your end?

[2022-10-07 13:12] #124 closed

[2022-10-07 13:17] #15 closed

[2022-10-07 13:18] #31 closed

[2022-10-07 13:18] #45 closed

[2022-10-07 13:21] #53 closed

[2022-10-07 13:22] #82 closed

[2022-10-07 13:23] #61 closed

[2022-10-07 13:24] #70 closed

[2022-10-07 13:26] #17 closed

[2022-10-07 13:27] #36 closed

[2022-10-07 13:28] #23 closed

[2022-10-07 13:29] #18 closed

[2022-10-07 13:31] #106 closed

[2022-10-07 13:31] #107 closed

[2022-10-07 13:32] #55 closed

[2022-10-07 13:33] #67 closed

[2022-10-07 13:35] #39 closed

[2022-10-07 13:36] delgermurun commented on #108
https://github.com/jina-ai/dalle-flow/issues/107#issuecomment-1246525091

[2022-10-07 13:36] #108 closed

[2022-10-07 13:42] #28 closed

[2022-10-07 13:45] delgermurun commented on #28
I believe this issue has been resolved. Feel free to reopen if the problem occurs again.

[2022-10-07 13:47] delgermurun commented on #39
I believe this issue has been resolved. Feel free to reopen if the problem occurs again.

[2022-10-07 13:48] delgermurun commented on #18
I believe this issue has been resolved. Feel free to reopen if the problem occurs again.

[2022-10-07 13:51] delgermurun commented on #45
Using sqlite no longer, so this should be resolved.

[2022-10-07 13:53] delgermurun commented on #35
I believe this issue has been resolved. Feel free to reopen if the problem occurs again.

[2022-10-07 13:53] #35 closed

[2022-10-07 13:54] delgermurun commented on #50
https://github.com/jina-ai/dalle-flow/issues/107#issuecomment-1246525091

[2022-10-07 13:54] #50 closed

[2022-10-07 13:57] delgermurun commented on #57
It requires [GPU with 21GB VRAM](https://github.com/jina-ai/dalle-flow#hardware-requirements) with default setup.

I believe this issue has been resolved. Feel free to reopen if the problem occurs again.

[2022-10-07 13:57] #57 closed

[2022-10-07 14:04] delgermurun commented on #62
If prebuilt image doesn't work, try [building image locally](https://github.com/jina-ai/dalle-flow#build-it-yourself) by running below command

[code]

then try to run by similar command
[code]

I believe this will resolve the issue, if not feel free to reopen.

[2022-10-07 14:04] #62 closed

[2022-10-07 19:30] AmericanPresidentJimmyCarter commented on #123
Sounds like `nvidia-docker` is not installed.

[2022-10-09 22:56] justin-romano commented on #123
ok. so i did not spot this docker host requirement in the server hardware requirements. Maybe its worth a mention, not being familiar with docker assumed the containers could access the GPU hardware directly.
I will figure out how to install this.

[2022-10-11 07:02] huanghaifeng1234 commented on #1
Nope, still need the official help

---Original---
From: "Jinke ***@***.***&gt;
Date: Wed, May 11, 2022 20:31 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [jina-ai/dalle-flow] Failed to run my own server (Issue #1)

@huanghaifeng1234 Hi, I am also having this issue. The server received and processed the request but the client seemed to get stuck. Was this solved?

—
Reply t

[2022-10-22 09:30] Kadah opened #126 "Multi-GPU doesn't work due to hard coded replicas value"
Setting the various CUDA_VISIBLE_DEVICES to more than 1 GPU doesn't result in them getting used due to replicas being hardcoded to 1. Setting replicas to >1 allows flow to make use of more GPUs.

[2022-10-22 15:26] JoanFM commented on #126
As explained here https://docs.jina.ai/fundamentals/flow/topologies/#replicate-on-multiple-gpus

This is expected, setting this env var will affect how each replica is assigned a GPU. So I would say this works as expected

[2022-10-22 15:26] #126 closed

[2022-10-23 11:42] CryptoSoltan commented on #100
hey I have the same error
TypeError: 'NoneType' object is not subscribable
how can I fix it
My install version is updated but it can not interrogate the image or restore faces and it keep showing me this

[2022-10-23 11:58] JoanFM commented on #100
Hey @CryptoSoltan,

Do you have clip encoder executor before diffusion?

[2022-10-24 12:19] CryptoSoltan commented on #100
I don't even know what that means lol
I did everything based on a tutorial on youtube
Im not sure what's causing this problem on my computer

[2022-10-24 12:47] CryptoSoltan commented on #100
oh I just saw that
and I have 0 knowledge of coding
I'm a 3d artist
I will give it a try
thank you

[2022-10-24 12:59] JoanFM commented on #100
Can you provide a `step-by-step` description of what u have done that leads to this error?

[2022-10-24 13:22] CryptoSoltan commented on #100
I have installed python(addpython.exe to the path has been checked) and git
then I copied the git clone and install the stable diffusion 1.5
then I've downloaded the model from hugging face (changed the name to model after download and put it in the model folder .
![image](https://user-images.githubusercontent.com/89420883/197535837-bb165dc6-a44c-41d8-b3a0-67b14e2ed978.png)

[2022-10-24 13:23] CryptoSoltan commented on #100
basically I've done everything in the video
https://www.youtube.com/watch?v=ARgcVrNpKHs&list=PLkIRB85csS_sxKXvJ9xC8m33zKqKGFNtn

[2022-10-24 13:24] CryptoSoltan commented on #100
basically I've followed this tutorial which is the lasted one
https://www.youtube.com/watch?v=ycQJDJ-qNI8

[2022-10-24 13:24] CryptoSoltan commented on #100
ive tried another one before and it didn't work too

[2022-10-24 13:25] CryptoSoltan commented on #100
do I have to install something for that to work?

[2022-10-24 13:27] CryptoSoltan commented on #100
after the installation everything thing seems to woking fine but the interrogate button keeps showing error
![image](https://user-images.githubusercontent.com/89420883/197536804-51ddf873-de80-45fc-a43a-4a2e2b5bf5b8.png)
![image](https://user-images.githubusercontent.com/89420883/197536856-3f040d96-6a2c-49cc-b408-c88c1b8e0975.png)

[2022-10-24 13:28] JoanFM commented on #100
Hey @CryptoSoltan ,

you are using a project which is not the one of this repository, so there is nothing we can do to help you

[2022-10-24 13:28] CryptoSoltan commented on #100
Also this doesn't work too
![image](https://user-images.githubusercontent.com/89420883/197537114-d648ad5f-20ee-4780-a2cc-cbf5910c5c0c.png)

[2022-10-24 13:28] CryptoSoltan commented on #100
oh I see
thank you

[2022-10-24 13:32] JoanFM commented on #100
I will close the error as there has not been interaction for long time. Feel free to open with more details if probelm encountered again

[2022-10-24 13:32] #100 closed

[2022-10-26 05:37] ghost opened #129 "[content removed by author]"
[content removed by author]

[2022-10-28 07:37] #115 closed

[2022-10-31 17:28] bdonnell opened #131 "Restore partial Windows compatibility by not importing jax unless it's actually needed"
Was using dalle-flow for months with AmericanPresidentJimmyCarter's Discord bot when a few weeks back it broke after a git pull.  I shelved looking at why until now.

dalle-flow checks if flax is available, and if it is, will try to import jax.  The problem is it then fails with jaxlib required.  jaxlib is not available for Windows.

The solution:
pip uninstall jax
pip uninstall flax

And boom now

[2022-10-31 21:29] Kadah commented on #101
The instructions to run CAS locally were lost in a recent update to the readme, gonna paste them here for easier reference.

By default [CLIPTorchEncoder](https://hub.jina.ai/executor/gzpbl8jh) runs as an [external executor](https://docs.jina.ai/fundamentals/flow/add-executors/#external-executors). If you want to run your own CLIP, you can do that by removing external executor related configs (hos

[2022-11-05 20:06] mchaker opened #135 "jina does not pass the right GPU in to clipseg"
**Describe the bug**

Does not work:
[code]

Works:
[code]

**Describe how you solve it**

I use the numeric GPU ID (sad)

---

**Environment**

[code]

**Screenshots**

N/A

[2022-11-11 15:27] JoanFM commented on #135
I transfer the issue to DALLE-FLOW because the issue is specific to the Executor in this project

[2022-11-16 14:35] AmericanPresidentJimmyCarter opened #137 "RealESRGAN leaks VRAM"
After enough calls to the endpoint, it will no longer be able to make new calls because it does not appear to be garbage collecting.

[2022-11-18 19:25] mchaker commented on #135
@AmericanPresidentJimmyCarter what do you need from the env?

[2022-11-23 09:00] fbauer-kunbus opened #139 "Error: "Unexpected <class 'KeyError'>: 'clip_encoder'""
Is this still actively maintained? Currently getting this error when submitting ...

[code]

[2022-11-23 15:55] OmightyDurn opened #140 "Is there a way to verify whether the demo server is down or if I've configured something incorrectly? Failed to connect to all addresses error."
Just getting starting working with this space. Attempted to run the demo code in the client usage documentation and I receive this error. I'm unsure how to tell if the server is down or if I've done something incorrectly. I don't see any discrepancies between the code offered in the usage documentation and what I have in my script:

[code]

Error:

ERROR  GRPCClient@15072 gRPC error: StatusCode.UN

[2022-11-23 19:43] OmightyDurn commented on #140
The documentation has not been updated to the current server: grpcs://dalle-flow.dev.jina.ai

[2022-11-23 19:43] #140 closed

[2022-11-23 19:52] OmightyDurn commented on #139
I am also getting this error.

[2022-11-23 20:14] JoanFM commented on #139
We are going to take a look at it

May u share exactly the steps u took to reproduce?

[2022-11-23 20:23] OmightyDurn commented on #139
For me:

1. `pip install "docarray[common]>=0.13.5" jina`
2. Ran this script:
[code]

I have not moved on to the next portion of the read me due to the fact that this will not run.

[2022-11-24 07:45] fbauer-kunbus commented on #139
I restartet the colab this morning and now I see that the first step (!pip install jina) finishes with the following ERROR

[code]
I guess this is what is causing the subsequent problem - but I overlooked it yesterday. BUT: even clicking the 'Restart Runtime' button below the error message and afterwards with or without trying step 1 again the error at step 4 persists.

[2022-11-24 08:29] JoanFM commented on #139
Can u try again?

[2022-11-25 08:26] fbauer-kunbus commented on #139
Sorry, have been absent a while ... the error in step 4 now looks as follows:

[code]

[2022-11-28 15:16] OmightyDurn commented on #139
I also got the "No route matched with those values" error

[2022-11-28 21:39] #137 closed

[2022-11-30 08:59] JoanFM commented on #135
Hey @mchaker , @AmericanPresidentJimmyCarter , any progress on this ?

[2022-11-30 09:00] JoanFM commented on #139
Can u retry now?

[2022-11-30 09:29] fbauer-kunbus commented on #139
Sorry, I don't understand why you - obviously - get other results, than we do, when you run it and let us retry? Does it ACTUALLY run for you?

In the first '!pip install jina' step I STILL geht the ERROR:

[code]

An the the step with the heading 'Let's submit it to the server and visualize the results:' it STILL terminates with this error:

E```
xception in thread Thread-12:
Traceback (most rece

[2022-11-30 10:23] JoanFM commented on #139
My bad @fbauer-kunbus ,

We are doing updates which I thought were already there. Misscommunication inside the team. I will keep you posted when I can run it successfully

[2022-11-30 14:02] AmericanPresidentJimmyCarter commented on #135
I still do not know why it happens -- it's only this one specific executor that has the problem. We can upload to latest jina and see if it persists.

[2022-11-30 14:51] mchaker commented on #135
I updated jina using `pip install -U jina` and the error still happens